<h1>練習内容</h1>

 <div class="parent">
   <%= form_with url: trainings_path, id: 'new_training', class: 'new_training', method: :post, local: true do |f| %>
   
      <div class="field">
        <%= f.label :日付を選択, class: 'date_lavel' %><br>
        <%= f.date_field :date, class: 'select_date' %> 
      </div>

      <div class="field">
        <%= f.label :"練習メニュー" %> <br>
        <%= f.text_area :training_menu, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"目的" %><br>
        <%= f.text_area :purpose, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"反省" %><br>
        <%= f.text_area :introspection, autofocus: true %>
      </div>

        <div class="register_actions">
          <div class="actions">
            <%= f.submit "登録" %>
          </div>
        </div>
   <% end %>
 </div>
