<h1>練習内容</h1>
  <div class="field">
    <div class="list">
      <label for="label">日付</label><br>
        <div class="label">
        <%= @training.date %><br>
        </div>
      <label for="label">練習メニュー</label><br>
        <div class="label">
        <%= @training.training_menu%><br>
        </div>
      <label for="label">目的</label><br>
        <div class="label">
        <%= @training.purpose %><br>
        </div>
      <label for="label">反省</label><br>
        <div class="label">
        <%= @training.introspection%><br>
        </div>
    </div>
    
    <div class="comment_contents">
      <div class="container">
        <% if current_user %>
          <%= form_with(model: [@training, @comment], local: true) do |f| %>
           <%= f.text_area :text, placeholder: "コメントする", rows: "2" %><br>
           <%= f.submit "SEND" %>
         <% end %>
         <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.name, "/" %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
   </div>
  </div>