<h1>試合内容</h1>
 <div class="parent">
   <%= form_with(model: @game,id: 'new_training', class: 'new_training', local: true) do |f| %>
      <div class="field">
        <%= f.label :日付を選択, class: 'date_lavel' %>
        <%= f.date_field :date, class: 'select_date' %> 
      </div>

      <div class="field">
        <%= f.label :"対戦相手" %> <br>
        <%= f.text_area :opponent, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"結果" %><br>
        <%= f.text_area :result, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"良かった点" %><br>
        <%= f.text_area :good_point, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"反省点" %><br>
        <%= f.text_area :game_introspection, autofocus: true %>
      </div>

    <div class="register_actions">
      <div class="actions">
      <%= f.submit "変更" %>

    <div class="field">
      <%= link_to '削除', game_path, method: :delete %>
    </div>

      </div>
      <% end %>
      <div class="comment_contents">
      <div class="container">
        <% if current_user %>
          <%= form_with(model: [@game, @game_comment], local: true) do |f| %>
           <%= f.text_area :text, placeholder: "コメントする", rows: "2" %><br>
           <%= f.submit "SEND" %>
         <% end %>
         <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
        <% end %>
        <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @game_comments %>
        <% @game_comments.each do |comment| %>
          <p>
            <strong><%= comment.user.name %>：</strong>
            <%= comment.text %>
          </p>
        <% end %>
      <% end %>
    </div>
   </div>
 </div>
   