<h1>試合内容</h1>
 <div class="parent">
   <%= form_with url: games_path, id: 'new_games', class: 'new_games', method: :post, local: true do |f| %>
      <div class="field">
        <%= f.label :日付を選択, class: 'date_lavel' %><br>
        <%= f.date_field :date, class: 'select_date' %> 
      </div>

      <div class="field">
        <%= f.label :"対戦相手" %> <br>
        <%= f.text_area :opponent, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"結果" %><br>
        <%= f.text_area :result, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"良かった点" %><br>
        <%= f.text_area :good_point, autofocus: true %>
      </div>

      <div class="field">
        <%= f.label :"反省点" %><br>
        <%= f.text_area :game_introspection, autofocus: true %>
      </div>

      <div class="register_actions">
        <div class="actions">
          <%= f.submit "登録" %>
        </div>
      </div>
   <% end %>
  </div>