<h1>試合内容</h1>
  <div class="all_game">
    <div class="list">

      <label for="label">日付</label><br>
        <div class="label">
          <%= @game.date %><br>
        </div>

      <label for="label">対戦相手</label><br>
        <div class="label">
          <%= @game.opponent%><br>
        </div>

      <label for="label">結果</label><br>
        <div class="label">
          <%= @game.result %><br>
        </div>

      <label for="label">良かった点</label><br>
        <div class="label">
          <%= @game.good_point %><br>
        </div>

      <label for="label">反省</label><br>
        <div class="label">
          <%= @game.game_introspection %><br>
        </div>
    </div>
    
    <div class="comment_contents">
      <div class="container">
        <% if current_user %>
         <strong>コメントをしてください<strong>
          <%= form_with(model: [@game, @game_comment], local: true) do |f| %>
            <%= f.text_area :text, placeholder: "コメントする", rows: "2" %><br>
             <div class="submit_btn">
               <%= f.submit "SEND" %>
             </div>
          <% end %>
        <% end %>
          <div class="comments">
            <div class=comment_title>
              <h4>＜コメント一覧＞</h4>
            </div>
              <% if @game_comments %>
                <% @game_comments.each do |comment| %>
                 <p>
                   <strong><%= comment.user.name %>：</strong>
                  <%= comment.text %>
                 </p>
                <% end %>
              <% end %>
          </div>
      </div>
    </div>
  </div>