<%= month_calendar calendars: @trainings do |date, calendar| %>
  <%= date %>
    <% @trainings.each do |event| %>
      <% if event.date == date %>
        <% if current_user.id == event.user_id %>
         <%= link_to event.user.name, edit_training_path(event) %>
        <% else %>
        <div class="training_user_name">
         <%=  link_to event.user.name, "/trainings/#{event.id}" %>
         </div>
        <% end %>
      <% end %>
    <% end %>
     
     <% @games.each do |game| %>
      <% if game.date == date%>
        <% if current_user.id == game.user_id %>
         <%= link_to game.user.name, edit_game_path(game)%>
        <% else %>
          <%=  link_to game.user.name, "/games/#{game.id}" %>
        <% end %>
      <% end %>
    <% end %>
<% end %>


