<!DOCTYPE html>
<html>
  <head>
    <title>TableTennisShareNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">卓球共有ノート</a></h1>
        <% if user_signed_in? %>
          <div class="user_nav grid-62">
            <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"head_left" %>
            <%= link_to "投稿する", new_calendar_path, class: "head_right" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "head_left" %>
            <%= link_to "新規登録", new_user_registration_path, class: "head_right" %>
          </div>
        <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>

